.page.theme_light {
  --text-color: #353430;
  --text-title-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --section-bg-titles: #ff8dcb;
  --link-shadow: #ff8dcb;
  --page-bg-color: #fff1f7;
  --decor-color: #353430;
  --rec-decor-color: #fff1f7;
  --card-title-color: #353430;
  --button-hover-color: #32312d66;
  --hader-text-color: #353430;

  --page-font-family: "IBM Plex mono", monospace;
  --page-bg-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --text-title-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --section-bg-titles: #ff8dcb;
    --link-shadow: #ff8dcb;
    --page-bg-color: #fff1f7;
    --decor-color: #353430;
    --rec-decor-color: #fff1f7;
    --card-title-color: #353430;
    --button-hover-color: #32312d66;
    --hader-text-color: #353430;

    --page-font-family: "IBM Plex mono", monospace;
    --page-bg-image: url("../images/cover-image-light.png");
  }
}
