/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* :root {
  --text-color: #353430;
  --text-title-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --section-bg-titles: #ff8dcb;
  --link-shadow: #ff8dcb;
  --page-bg-color: #fff1f7;
  --decor-color: #353430;
  --rec-decor-color: #fff1f7;

  --page-font-family: "IBM Plex mono", monospace;
  --page-bg-image: url("../images/cover-image-light.png");
} */

:root {
  --text-color: #f1b2ce;
  --text-title-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --section-bg-titles: #ff0070;
  --link-shadow: #ff0070;
  --page-bg-color: #000028;
  --rec-decor-color: #ff0070;
  --decor-color: #ff0070;

  --page-font-family: "IBM Plex mono", monospace;
  --page-bg-image: url("../images/cover-image-dark.png");
}
